LARAVEL_API_BASE_URL=http://localhost/sistemaEstadistico/public/api
WHATSAPP_WEB_READER_SECRET=
WHATSAPP_WEB_READER_GROUP_IDS=
WHATSAPP_WEB_READER_ALLOWED_AUTHOR_IDS=5214437916890@c.us,5214437938996@c.us
WHATSAPP_WEB_READER_ALLOW_OPERATIONAL_AUTHORS=false
WHATSAPP_WEB_READER_CLIENT_ID=sistema-estadistico-reader
WHATSAPP_WEB_READER_HEADLESS=true
WHATSAPP_WEB_READER_POLL_INTERVAL_MS=60000
WHATSAPP_WEB_READER_POLL_BACKFILL_MINUTES=15
WHATSAPP_WEB_READER_HEALTH_FAILURE_LIMIT=3
WHATSAPP_WEB_READER_SPOOL_RETRY_INTERVAL_MS=60000
# CHROME_EXECUTABLE_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
